<html>
	<head>
		<script type="text/javascript" src="jquery.js"></script>
		<script type="text/javascript" src="getmore.js"></script>
		<link rel="stylesheet" type="text/css" href="css/style.css">
	</head>
	<body onload="poll()">
		<div id="message">
			<span id="mydad">My Dad</span>
			<span id="rest">
			</span>
		</div>
	</body>
</html>


