<html>
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<script type="text/javascript" src="getmore.js"></script>
		<link rel="stylesheet" type="text/css" href="css/style.css">
	</head>
	<body onload="poll()">
		<div id="message">
			<div id="mydad">my dad</div>
			<div id="rest">
			</div>
		</div>
	</body>
</html>


