@font-face {
    font-family: 'Arvo';
    src: url('Arvo/Arvo-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('OpenSans/OpenSans-Semibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


#message {
	width: 50%;
	position: relative;
	left: 25%;
	top: 30%;
}

#mydad {
	color: blue;
	width: 300px;
	font-size: 5em;
	font-family: 'Arvo';
	font-weight: normal;
	font-style: normal;
	margin-right: 15px;
	position: absolute;
	top: 0;
	left: 0;
}

#rest {
	padding-left: 300px;
	font-size: 2em;
	font-family: "Open Sans";
	font-weight: normal;
	text-transform: lowercase;
}

#rest a {
	color: orange;
}